@import "@/assets/scss/comn/mixin";
// listView

.list_style {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4열 그리드 */
  gap: 20px;
  width: 100%;

  .list_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    // border: 1px solid #ebe6de;
    background-color: #fff;
    // border-radius: 8px;
    &:hover{
      scale:1.05;
      transform: translateY(-10px);
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      aspect-ratio: 1;
      background-color: #fff;
      border-radius: 8px 8px 0 0;
      cursor: pointer;
    }
    .txt_wrap {
      width: 100%;
      // border-top: 1px solid #e1e1e1;
      .txt_cursor{
        cursor: pointer;
      }
      .btn-cart {
        display: flex;
        align-items: center;
        background-color: #ffb019;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        img {
          width: 20px;
        }
        &.del-cart{
          background-color: #8b8b8b;
        }
      }
      .txt_flex {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;

      }
    }
  }
}

// manamgeProducts

form.product-form {
  width: 100%;
  .btn_type_01 {
    width: fit-content;
    height: auto;
    padding: 15px 20px;
    margin: 30px 0;
  }
}
.pdt_select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .pdt_input {
    width: 400px;
    margin-right: 10px;
    label:first-child {
      margin-right: 10px;
    }
    select {
      max-width: 287px;
    }
  }
}
.pdt_input {
  display: flex;
  align-items: center;
  // justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  &.diff_input {
    flex-direction: column;
    align-items: flex-start;
    label {
      margin-bottom: 10px;
    }
  }
  label {
    min-width: 100px;
    margin-right: 10px;
  }
  input {
    width: 80%;
  }
  textarea {
    width: 100%;
    height: 500px;
    resize: none;
    border-radius: 8px;
    border: 1px solid #adc5c5;
  }
}
.image_preview {
  margin: 20px 0 20px 100px;
  img {
    margin-right: 15px;
  }
}

.btn_area_r {
  width: 1200px;
  display: flex;
  justify-content: flex-end;
  .confirm_btn {
    width: 100px;
    height: 50px;
  }
}
// product detail
.detail_wrap{
  font-family: var(--pretend-font);
}
.detail_cont {
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  padding: 10px 0 20px 20px;
  .btn_wrap {
    display: flex;
    align-items: center;
    button {
      width: 100%;
      background-color: #000;
      color: #fff;
      margin: 20px 0px;
      padding: 10px 20px;
      &:first-child {
        margin-right: 5px;
      }
    }
  }
}
.cell_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.count-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .plus{
    background-color: #000;
    color:#fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    margin-right: 5px;
  }
  .del-line{
    color: #6d6d6d;
    position: relative;
    margin-right: 10px;
    &::after{
      position: absolute;
      content: "";
      top: 50%;
      left: -2px;
      transform: translateY(-50%);
      height: 1px;
      width: 150%;
      background-color: #6d6d6d;
    }
  }
  .del-gray{
    color: #6d6d6d;
  }
}

.count-line{
  height: 1px;
  width: 100%;
  background-color: #6d6d6d;
  margin: 20px 0;
}
.cell {
  gap: 10px;
  align-items: center !important;
  button {
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    &:first-child {
      border-right: none;
    }
    &:last-child {
      border-left: none;
    }
  }
  input {
    width: 25px;
    height: 25px;
    padding: 0;
    text-align: center;
    border-radius: 0;
    background-color: #fff;
    border-radius: 50%;
  }
}
.caution_box {
  background-color: #dbdbdb;
  border-radius: 5px;
  padding: 20px 20px 0;
  dd {
    position: relative;
    margin-bottom: 5px;
    top: -15px;
    left: 80px;
    width: 60%;
  }
}
.txt-strong {
  color: #ff5e0d;
}
.detail_info_wrap {
  padding: 40px 50px !important;
  word-break: break-word;
}
@media screen and (min-width:1400px) {
  .detail_info{
    padding: 0 20px;
  }
}

// 태블릿에서 노트북
@include desktopToTablet {
  .list_style {
    grid-template-columns: repeat(5, 1fr); /* 5열 그리드 */
  }
}

// 태블릿
@include tablet {
  .list_style {
    grid-template-columns: repeat(4, 1fr); /* 3열 그리드 */
  }
}

//minwidth 1200px
@include nav_pc {
  .shop_wrap .tab_cat_06 {
    display: none;
  }
}
@include nav_mo {
  .shop_wrap .tab_cat_01 {
    // justify-content: center;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
  }
  .shop_wrap .tab_cat_06 {
    flex-wrap: wrap;
  }
}
