@import "./variable";

// 모바일 : 최소 '모바일'사이즈부터 ~ 최대 '모바일에서 태블릿'사이즈까지
@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tabletToMobile - 1px}) {
    @content;
  }
}

// 모바일에서 태블릿 : 최소 '모바일에서 태블릿'사이즈부터 ~ 최대 '태블릿'사이즈까지
@mixin tabletToMobile {
  @media (min-width: #{$breakpoint-tabletToMobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

// 태블릿 : 최소'태블릿'사이즈부터 ~ 최대 '태블릿에서 노트북'사이즈까지
@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktopToTablet - 1px}) {
    @content;
  }
}

// 태블릿에서 노트북 : 최소 '태블릿에서 노트북'사이즈부터 ~ 최대 '노트북'사이즈까지
@mixin desktopToTablet {
  @media (min-width: #{$breakpoint-desktopToTablet}) {
    @content;
  }
}

@mixin nav_mo {
  @media (max-width: #{$breakpoint-nav - 1px}) {
    @content;
  }
}
@mixin nav_pc {
  @media (min-width: #{$breakpoint-nav}) {
    @content;
  }
}

@mixin position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex ($align,$justify){
  display: flex;
  align-items: $align;
  justify-content:$justify
}