@import "@/assets/scss/comn/mixin";
.footer_wrap {
  width: 100%;
  height: 200px;
  background-color: #cdcdcd;
  color:#271013;
  .footer-list {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    .each-list li:hover:not(:first-child){
      font-weight: 700;
    }
    .each-list li:not(:first-child){
      cursor: pointer;
    }
    li {
      text-align: center;
      margin-bottom: 10px;
      a:hover{
        font-weight: 700;
      }
      small{
        font-weight: 700;
        font-size: 1rem;
      }
    }
  }
  dl {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    dt {
      margin-right: 15px;
    }
  }
}
@include nav_mo {
  .footer-list {
    li{
      &:first-child,&:last-child{
        display: none;
      }
    }
    .mlr-50{
      margin: 0 30px !important;
    }
  }
}