/* *******************modal 공통******************* */
.modal_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1055;
  &.is_over{
    cursor: pointer;
  }
}
.modal_wrap {
  font-family: "NanumSquare", sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 300px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
  z-index: 1059;
  cursor: auto;
}
.modal_title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 600;
  // color: var(--primary-color);
  border-radius: 0;
  letter-spacing: -0.8px;
  z-index: 10;
  margin-top: -1px;
  h4 {
    text-align: center;
  }
}
.modal_body {

  /* display: flex;
    align-items: stretch;
    flex-wrap: wrap; */
  padding: 70px 20px 20px;
  width: 100%;
  height: 100%;
  p{
    word-break: keep-all;
    line-height: 1.4em;
  }
  &.modal_comn{
    text-align: center;
  }
}
.close_btn {
  position: absolute;
  top: 17px;
  right: 25px;
  width: 15px;
  height: 15px;
  background: url("@/assets/img/common/icon_close3.png") center center no-repeat;
  background-size: 100%;
  text-indent: -9999px;
  cursor: pointer;
}

.modal_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  button{
    background-color: var(--primary-color);
    padding: 10px 20px;
    color:#fff;
    margin:20px 0;
  }
}

//******************* 각각 modal 설정*******************

// 비밀번호 찾기 모달
.find_wrap{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .tab_cat_01 {
      margin-bottom: 40px;
    }
    .user_input {
        width: 90%;
        justify-content: center;
        label{
            width: 70px;
        }
        input{
        background-color: #e7e5e0;
        height: 40px;
    }
    }
    .confirm_box{
      width: 90%;
    }
    .confirm_box .confirm_btn{
        width: 100%;
    }
  }